# Node.js dependencies & outputs
node_modules/
dist/
dist-ssr/
build/
.cache/
.vite/
*.local

# Node Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
lerna-debug.log*
.npm/
.node_repl_history
*.node
*.tsbuildinfo
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environments
.env
.env.*
!.env.example
